<% if current_user.has_role? :admin %>
  <%= form_for(project) do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= collection_select(:project, :user_id, User.all, :id, :email) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <p>Sorry, you do not have access to this page</p>
<% end %>